name: CI

on:
  pull_request:
  push:
    branches:
      - master

permissions:
  id-token: write  # Required for OIDC
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

strategy:
  matrix:
    node-version: ['20', '22', '24']

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm install

      - name: Run CI
        run: npm run ci